@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import '@splidejs/splide/css';
@import '@splidejs/splide/css/skyblue';
@import '@splidejs/splide/css/sea-green';
@import '@splidejs/splide/css/core';

@import 'variables';

* {
    font-family: "Roboto", sans-serif;
}

.scroll-top {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: $primary;
    cursor: pointer;
}

.navbar {

    padding: 30px 0 15px 0 !important;

    a {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        color: $primary !important;
    }

     img {
        width: 180px;
     }

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

}

.offcanvas {
    width: 300px !important;
}

.base {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #c2c2c2;

    .overlay-top {
        position: absolute;
        top: -300px;
        right: -200px;
        z-index: -1;
        width: 800px;
        height: 800px;
        background-color: #0560aa;
        opacity: 0.2;
        border-radius: 50%;
    }

    .overlay-bottom {
        position: absolute;
        top: 40px;
        left: -200px;
        z-index: -1;
        width: 800px;
        height: 800px;
        background-color: #e0ebfd;
        opacity: 0.3;
        border-radius: 50%;
    }
}

.landing-page {
    padding: 20px 0 0px 0;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: relative;

    .left-panel {
        width: 50%;
    }

    .right-panel {
        width: 50%;
    }

    .banner-text {

        small {
            font-weight: 800;
            border-left: 5px solid $primary;
            padding-left: 5px;
        }

        h1 {
            margin-top: 5px;
            color: $primary;
            font-size: 45px;
            text-transform: uppercase;
            font-weight: 700;
        }

        p {
            font-size: 20px;
        }

        .actions {
            display: flex;
            align-items: center;
            gap: 20px;

            button:nth-child(1) {
                padding: 20px 40px 20px 40px;
                font-size: 15px;
                background-color: $primary;
                border: 1px solid $primary;
                color: $light;
                text-transform: uppercase;
                font-weight: 600;
                margin-top: 30px;
                border-radius: 5px;
            }

            button:nth-child(2) {
                padding: 20px 40px 20px 40px;
                font-size: 15px;
                background-color: transparent;
                border: 2px solid $primary;
                color: $primary;
                text-transform: uppercase;
                font-weight: 600;
                margin-top: 30px;
                border-radius: 5px;
            }

        }

    }

    .banner-images {
        img {
            width: 100% !important;
        }
    }
}

.scrollable-gesture {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -25px;
    animation: upDown 1.5s infinite ease-in-out;
    will-change: transform;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

@keyframes upDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

.payment-partners {

    margin: 20px 0 20px 0;
    padding: 50px 0 50px 0;

    .section-title {
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        margin-top: 0;
        margin-bottom: 40px;
    }

    .splide {
        padding: 15px;
    }

    .splide__list {
        display: flex;
        align-items: center;
        gap: 50px; 
        padding: 20px;
    }
    
    .splide__list img {
        max-width: 100%; 
        height: auto; 
        object-fit: contain; 
        display: block; 
    }
    
}

.about-us {

    border: 1px solid #fff;
    padding: 20px 0 40px 0;
    background-color: #f5f9fe;

    .section-title {
        margin: 50px 0 20px 0;
        border-left: 8px solid $primary;
        padding-left: 15px;

        div:nth-child(1) {
            font-size: 38px;
            text-transform: uppercase;
            font-weight: 700;
            text-align: start;
        }

        div:nth-child(2) {
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 500;
            text-align: start;
        }

    }

    p {
        font-size: 20px;
        font-size: 500;
        text-indent: 50px;
    }

    .row {
        margin-top: 40px;
    }

    .icon  {
        color: $light;
        background-color: $primary;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25%;
    }

    .title {
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 800;
    }

    .description {
        font-size: 16px;
        text-transform: uppercase;
    }

    .features {
        margin-top: 50px;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr); 
        grid-auto-rows: auto; 
    
        .items {
            padding: 20px;
            &.active {
                background-color: $primary;
                color: $light;
    
                .icon {
                    background-color: $light;
                }
            }
        }
    
        .items:last-child {
            grid-column: span 4;
        }
    }
    

}

.contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: $light;
    text-align: center;

    h1 {
        color: $light;
        font-size: 60px;
        text-transform: uppercase;
    }

    p {
        font-size: 20px;
        font-weight: 700;
    }

    button {
        height: 70px;
        width: 250px;
        padding: 10px 30px 10px 30px;
        font-size: 22px;
        background-color: transparent;
        color: $secondary;
        border: 3px solid $secondary;
        margin-top: 40px;
        text-transform: uppercase;
    }

    .overlay {

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000000;
            opacity: 0.8;
            z-index: -1;
        }
    }
}

.footer {
    position: relative;
    padding: 30px 0 10px 0;

    img.novupay-logo {
        width: 200px;
    }

}

@media(min-width: 0px) and (max-width: 768px) {

    .navbar {
        .navbar-nav {
            gap: 0 !important;
            text-align: center;
        }
    }

    .landing-page {
        display: block !important;
        height: 100%;
        padding: 150px 0 150px 0;
        .left-panel, .right-panel {
            width: 100%;
        }

        .banner-text {
            text-align: start;

            p {
                text-align: justify;
            }

        }

        .banner-images {
            display: none;
        }

        .actions {
            display: block !important;
            margin-top: 30px;
            padding: 0 20px 0 20px;
            button {
                width: 100%;
                margin-top: 20px !important;
            }
        }

    }

    .features {
        display: block !important;
        .items {
            margin: 10px 0 10px 0;
            padding: 20px;
            &.active {
                background-color: $primary;
                color: $light;
    
                .icon {
                    background-color: $light;
                }
            }
        }
    }

    .contact {
        
        h1 {
            font-size: 30px;
        }

        button {
            font-size: 20px;
            height: auto;
            width: fit-content;
            padding: 15px 40px 15px 40px !important;
        }

    }

    .footer {
        img {
            margin: 10px 0 10px 0;
        }
    }
}