@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'variables';

* {
    font-family: "Roboto", sans-serif;
}

.outer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
}

.wrapper {

    position: relative;
    min-width: 300px;
    border-radius: 20px;
    padding: 40px 40px 40px 40px;
    background-color: $light;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    margin: 15px 0 15px 0;

    &:nth-child(2) {

        padding: 20px 30px 20px 30px;

        .others {
            .icon:nth-child(1) {
                box-shadow: 0 0 5px rgba(110, 110, 110, 0.1);
                background-color: $primary; 
                padding: 10px;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                cursor: pointer;
            }

            .icon:nth-child(2) {
                box-shadow: 0 0 5px rgba(110, 110, 110, 0.1);
                background-color: $light; 
                padding: 10px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }

    &:nth-child(3) {

        padding: 2px 0px 20px 0px;
        box-shadow: none !important;
        background-color: transparent !important;

        .bottom {
            display: block;
            justify-content: space-between;

            button {
                width: 100%;
                padding: 20px 40px 20px 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                margin: 15px 0;
                text-transform: uppercase;
                font-weight: 500;
                border: 2px solid $primary;
                border-radius: 15px;

                &:nth-child(1) {
                    background-color: $primary;
                    color: $light;
                }

                &:nth-child(2) {
                    border: 2px solid $primary;
                    color: $primary;
                }

            }

        }

    }

    .top {
        
        .icon {
            position: absolute;
            top: -35px;
            left: 50%;
            transform: translateX(-50%);
            width: 70px;
            height: 70px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            z-index: 99999; 
        }
        
        .icon::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60px;
            height: 60px;
            border-radius: 50%;
            z-index: -1; 
        }

        .icon.success::after {
            background-color: $success;
        }
        
        .icon.error::after {
            background-color: $danger;
        }
        

        text-align: center;
        
        .header {

            margin-top: 20px;

            h5 {
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: 5;
            }

            p {
                text-transform: uppercase;
                font-weight: 500;
            }

            h3 {
                font-weight: 800;
            }
        }

    }

    .mid {

        h6 {
            font-size: 14px;
            text-transform: uppercase;
        }

        .details {
            margin-top: 20px;
        }

        .details .items {
            display: flex;
            justify-content: space-between;
            margin: 5px 0 5px 0;

            div:nth-child(1) {
                font-weight: 500;
            }

            div:nth-child(2) {
                font-weight: 700;
            }

        }

    }

}

@media(min-width: 0px) and (max-width: 768px) {

    .outer-wrapper {
        height: 100% !important;
        padding: 50px 10px;
    }

    .wrapper {
        min-width: 100%;
        font-size: 11px;
        padding: 30px !important;

        &:nth-child(2) {
            padding: 20px !important;
        }

        &:nth-child(3) {
            padding: 0px !important;
        }
    }


}